<!DOCTYPE html>
<html lang="en">

<head>


  <title>Clean Blog - Start Bootstrap Theme</title>

</head>

<body>


  <!-- Page Header -->
  <header class="masthead" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Informacion</h1>
            <span class="subheading">En este sector se puede encontrar información y orientaciones de la OMS acerca del actual brote de enfermedad por coronavirus (COVID-19) que fue notificado por primera vez en Wuhan (China) el 31 de diciembre de 2019. </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container" aria-label="Como Protegerse" role="Link">
    <div class="felx-row">
      <div class="col-lg-8 col-md-10 Ejemplo">
        <div class="post-preview">
          <a href="como-protegerse">
            <h2 class="post-title">
              Como Protegerse
            </h2>
          </a>
        </div>
        <hr>
        <div class="post-preview">
          <a href="preguntas-yrespuestas">
            <h2 class="post-title">
              Preguntas y respuestas
            </h2>
          </a>
        </div>
        <hr>
        <div class="post-preview">
          <a href="consejos-poblacion">
            <h2 class="post-title">
              Consejos para la poblacion acerca de los rumores
            </h2>
          </a>
            <a href="#">...</a>
        </div>
        <hr>
        <hr>
        <!-- Pager -->
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Politecnico Modelo</p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>