<div class="mt-5" *ngFor='let comentario of comentarios'>
    <div>{{comentario.nombreUsuario}} {{comentario.apellidoUsuario}}</div>
    <div>{{comentario.mensaje}}</div>
    <div>{{getFecha(comentario.fechaDePublicacion) | date: "dd/MM/yyyy"}}</div>
    <button (click)="borrarComentario(comentario)">Borrar</button>
  </div>
  <form class="mt-5" [formGroup]="mensajeForm" (ngSubmit)="agregarComentario()">
    <input type="text" formControlName="mensaje">
    <button type="submit">Agregar</button>
  </form>