<!DOCTYPE html>
<html lang="en">

<head>

  <title>Clean Blog - Start Bootstrap Theme</title>

  
</head>

<body>


  <!-- Page Header -->
  <header class="masthead" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 ejemplo ">
          <div class="post-heading">
            <h1>Como Protegerse</h1>
              Medidas de protección básicas contra el coronavirus
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Manténgase al día de la información más reciente sobre el brote de COVID-19, a la que puede acceder en el sitio web de la OMS y a través de las autoridades de salud pública pertinentes a nivel nacional y local. La mayoría de las personas que se infectan padecen una enfermedad leve y se recuperan, pero en otros casos puede ser más grave. Cuide su salud y proteja a los demás a través de las siguientes medidas:</p>
        <h3></h3>
        <h3>Lavese las manos frecuentemente</h3>
          <p>Lávese las manos con frecuencia con un desinfectante de manos a base de alcohol o con agua y jabón.</p>
            
          <p><strong>¿Por qué?</strong>Lavarse las manos con un desinfectante a base de alcohol o con agua y jabón mata el virus si este está en sus manos.</p>

          <p><strong>Qué hacer para mantenerse y mantener a los demás a salvo de la COVID-19</strong>

          <p>Guarde al menos 1 metro de distancia entre usted y otras personas, a fin de reducir su riesgo de infección cuando otros tosen, estornudan o hablan. Mantenga una distancia aún mayor entre usted y otras personas en espacios interiores. Cuanto mayor distancia, mejor.</p>
          <p>Convierta el uso de la mascarilla en una parte normal de su interacción con otras personas.</p>
          <p>Lávese las manos antes de ponerse la mascarilla, y también antes y después de quitársela.</p>
          <p>Asegúrese de que le cubre la nariz, la boca y el mentón.</p>
          <p>Utilice una mascarilla de tela, a menos que pertenezca usted a un grupo de riesgo determinado. Esto es especialmente importante cuando no pueda mantener la distancia física, en particular en entornos de aglomeraciones y en interiores poco ventilados.</p>
          <p>Utilice una mascarilla médica/quirúrgica si:
            -Es mayor de 60 años
            -Tiene enfermedades preexistentes,
            -Se siente mal y/o
            -Está cuidando a un miembro de la familia enfermo.</p>
      
          <h2 class="section-heading">Cómo reforzar la seguridad de su entorno</h2>

          <p><strong>Evite las 3 “C”: espacios cerrados, congestionados o que entrañen contactos cercanos.</strong>
          <p>-Se han notificado brotes en restaurantes, ensayos de coros, clases de gimnasia, clubes nocturnos, oficinas y lugares de culto en los se han reunido personas, con frecuencia en lugares interiores abarrotados en los que se suele hablar en voz alta, gritar, resoplar o cantar.
             -Los riesgos de contagio con el virus de la COVID-19 son más altos en espacios abarrotados e insuficientemente ventilados en los que las personas infectadas pasan mucho tiempo juntas y muy cerca unas de otras. Al parecer, en esos entornos el virus se propaga con mayor facilidad por medio de gotículas respiratorias o aerosoles, por lo que es aún más importante adoptar precauciones.</p>
          <p><strong>Reúnase al aire libre. </strong>
          <p>Las reuniones al aire libre son más seguras que en interiores, en particular si los espacios interiores son pequeños y carecen de circulación de aire exterior.</p>
          <p><strong>Evite lugares abarrotados o interiores</strong>
            <p>pero si no puede, adopte las siguientes precauciones:
              -Abra una ventana. Aumente el caudal de ‘ventilación natural’ en los lugares cerrados.
              -Utilice una mascarilla (para información más detallada, véase más arriba).
            </p>

          <blockquote class="blockquote">...</blockquote>

          <p>...</p>

          <h2 class="section-heading">No olvide las normas básicas de la buena higiene</h2>
          <p><strong>Lávese periódica y cuidadosamente las manos con un gel hidroalcohólico o con agua y jabón.</strong>
            <p>Esto elimina los gérmenes que pudieran estar en sus manos, incluidos los virus.</p>
          <p><strong>Evite tocarse los ojos, la nariz y la boca.</strong>
            <p>Las manos tocan muchas superficies en las que podrían coger el virus. Una vez contaminadas, pueden transportar el virus a los ojos, la nariz o la boca. Desde allí el virus puede entrar en el organismo e infectarlo.</p>
          <p><strong>Al toser o estornudar cúbrase la boca y la nariz con el codo flexionado o con un pañuelo.</strong>
            <p>Luego, tire inmediatamente el pañuelo en una papelera con tapa y lávese las manos. Con la observancia de buenas prácticas de ‘higiene respiratoria’ usted protege a las personas de su entorno contra los virus causantes de resfriados, gripe y COVID-19.</p>
          <p><strong>Limpie y desinfecte frecuentemente las superficies, en particular las que se tocan con regularidad,</strong>
            <p>por ejemplo, picaportes, grifos y pantallas de teléfonos.</p>


            <h2 class="section-heading">Qué debe hacer si se siente mal</h2>
            
            <p><strong>Conocer todos los síntomas de la COVID-19.</strong>
              <p>Los síntomas más comunes de la COVID-19 son: fiebre, tos seca y cansancio. Otros síntomas menos frecuentes que pueden afectar a algunos pacientes son: pérdida del gusto o el olfato, dolores, dolor de cabeza, faringoamigdalitis, congestión nasal, ojos enrojecidos, diarrea o erupción cutánea.</p>
            <p><strong>Permanecer en casa en autoaislamiento, aun cuando tenga síntomas leves tales como tos, dolor de cabeza y febrícula,</strong>
              <p>hasta que se recupere. Llame y solicite orientación a su dispensador o servicio telefónico de atención de salud. Pida que alguien le lleve lo que necesite. Si tiene que salir de su casa o necesita que alguien esté con usted, póngase una mascarilla médica para no infectar a otras personas.</p>
            <p><strong>Si tiene fiebre, tos y dificultad para respirar busque atención médica de inmediato. Primeramente llame por teléfono, si puede</strong>
              <p>y siga las instrucciones de su autoridad sanitaria local.</p>
              

          <span class="caption text-muted">...</span>

          <p>...</p>

          <p>...</p>

          <p>Covid 19
            <a href="http://spaceipsum.com/">Ipm</a>. Producciones
            <a href="https://www.flickr.com/photos/nasacommons/">Tabor picante</a>.</p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2020</p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>