<tbody>
    <tr *ngFor="let user of users">
       <td>{{ user.payload.doc.data().username }}</td>
       <td>{{ user.payload.doc.data().password }}</td>
       <td><span 
            *ngFor="let user of user.payload.doc.data().user">
           {{ user }}
          </span>
       </td>
    </tr>

    <td [hidden]="user.payload.doc.data().completed" 
    (click)="markCompleted(user)">
   <i class="material-icons">check</i>
</td>

<td [hidden]="user.payload.doc.data().completed" 
(click)="deleteUser(user)">
<i class="material-icons">delete_forever</i>
</td>
    </tbody>