<!DOCTYPE html>
<html lang="en">

<head>
  <title>Clean Blog - Start Bootstrap Theme</title>



</head>

<body>

  <!-- Page Header -->
  <header class="masthead" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Informacion Sobre Paises</h1>
            <span class="subheading">En este sector podemos encontrar informacion sobre los estsados de varios paises segun el COVID19 </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container" aria-label="Como Protegerse" >
    <div class="felx-row">
      <div class="col-lg-20 col-md-25 Centrado">
        <div class="post-preview">
          <a href="America del Sur">
            <h2 class="post-title">
              America del Sur
            </h2>
            <h3 class="post-subtitle">
              ...
            </h3>
          </a>
        </div>
        <hr>
        <div class="post-preview">
          <a href="America del Norte">
            <h2 class="post-title">
              America del Norte
            </h2>
          </a>
        </div>
        <hr>
        <div class="post-preview">
          <a href="Europa">
            <h2 class="post-title">
              Europa
            </h2>
          </a>
        </div>
        <hr>
        <div class="post-preview">
          <a href="Asia">
            <h2 class="post-title">
             Asia
            </h2>
          </a>
        </div>
        <hr>
        <hr>
        <div class="post-preview">
          <a href="Oceania">
            <h2 class="post-title">
             Oceania
            </h2>
          </a>
        </div>
        <hr>
        <!-- Pager -->
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Politecnico Modelo</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
</body>

</html>