<!DOCTYPE html>
<html lang="en">
<head>

  <title>Clean Blog - Start Bootstrap Theme</title>


</head>

<body>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/02.png')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">          
            <div class="chart-container" #chartContainer></div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="/../post.html">
            <h2 class="post-title">
              Informacion sobre nosotros
            </h2>
            <h3 class="post-subtitle">
              ...
            </h3>
          </a>
        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              ...
            </h2>
          </a>
          <p class="post-meta">...
            <a href="#">...</a>
            ...</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              ...
            </h2>
            <h3 class="post-subtitle">
              ...
            </h3>
          </a>
          <p class="post-meta">...
            <a href="#">...</a>
            ...</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              ...
            </h2>
            <h3 class="post-subtitle">
              ...
            </h3>
          </a>
          <p class="post-meta">...
            <a href="#">...</a>
            ...</p>
        </div>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Politecnico Modelo</p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
