<!DOCTYPE html>
<html lang="en">

<head>
  <title>Clean Blog - Start Bootstrap Theme</title>

</head>

<body>

  <!-- Page Header -->
  <header class="masthead" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Preguntas y Respuestas</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>La OMS está monitoreando y respondiendo continuamente a este brote. Estas preguntas y respuestas se actualizarán a medida que se conozcan más datos sobre la COVID‑19, su modo de propagación y la forma en que está afectando a las personas en todo el mundo.</p>
        <h2></h2>
        <h2>¿Qué es un coronavirus?</h2>
          <p>Los coronavirus son una extensa familia de virus que pueden causar enfermedades tanto en animales como en humanos. En los humanos, se sabe que varios coronavirus causan infecciones respiratorias que pueden ir desde el resfriado común hasta enfermedades más graves como el síndrome respiratorio de Oriente Medio (MERS) y el síndrome respiratorio agudo severo (SRAS). El coronavirus que se ha descubierto más recientemente causa la enfermedad por coronavirus COVID-19.</p>
        <h2></h2>
        <h2>¿Qué es la COVID‑19?</h2>
          <p>La COVID‑19 es la enfermedad infecciosa causada por el coronavirus que se ha descubierto más recientemente. Tanto este nuevo virus como la enfermedad que provoca eran desconocidos antes de que estallara el brote en Wuhan (China) en diciembre de 2019. Actualmente la COVID‑19 es una pandemia que afecta a muchos países de todo el mundo.</p>

          <p>...</p>

          <p>...</p>

          <h2 class="section-heading">...</h2>

          <p>...</p>

          <p>...</p>

          <blockquote class="blockquote">...</blockquote>

          <p>...</p>

          <h2 class="section-heading">...</h2>

          <p>...</p>

          

          <span class="caption text-muted">...</span>

          <p>...</p>

          <p>...</p>

          <p>Covid 19
            <a href="http://spaceipsum.com/">Ipm</a>. Producciones
            <a href="https://www.flickr.com/photos/nasacommons/">Tabor picante</a>.</p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2020</p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>