<!DOCTYPE html>
<html lang="en">

<head>
  <title>Clean Blog - Start Bootstrap Theme</title>

</head>

<body>

  <!-- Page Header -->
  <header class="masthead" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Preguntas y Respuestas</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>La OMS está monitoreando y respondiendo continuamente a este brote. Estas preguntas y respuestas se actualizarán a medida que se conozcan más datos sobre la COVID‑19, su modo de propagación y la forma en que está afectando a las personas en todo el mundo.</p>
        <h2></h2>
        <h2>¿Qué es un coronavirus?</h2>
          <p>Los coronavirus son una extensa familia de virus que pueden causar enfermedades tanto en animales como en humanos. En los humanos, se sabe que varios coronavirus causan infecciones respiratorias que pueden ir desde el resfriado común hasta enfermedades más graves como el síndrome respiratorio de Oriente Medio (MERS) y el síndrome respiratorio agudo severo (SRAS). El coronavirus que se ha descubierto más recientemente causa la enfermedad por coronavirus COVID-19.</p>
        <h2></h2>
        <h2>¿Qué es la COVID‑19?</h2>
          <p>La COVID‑19 es la enfermedad infecciosa causada por el coronavirus que se ha descubierto más recientemente. Tanto este nuevo virus como la enfermedad que provoca eran desconocidos antes de que estallara el brote en Wuhan (China) en diciembre de 2019. Actualmente la COVID‑19 es una pandemia que afecta a muchos países de todo el mundo.</p>
        
          <h2></h2>
        <h2>¿Cuáles son los síntomas de la COVID-19?</h2>
          <p>Los síntomas más habituales de la COVID-19 son la fiebre, la tos seca y el cansancio. Otros síntomas menos frecuentes que afectan a algunos pacientes son los dolores y molestias, la congestión nasal, el dolor de cabeza, la conjuntivitis, el dolor de garganta, la diarrea, la pérdida del gusto o el olfato y las erupciones cutáneas o cambios de color en los dedos de las manos o los pies. Estos síntomas suelen ser leves y comienzan gradualmente. Algunas de las personas infectadas solo presentan síntomas levísimos.

            La mayoría de las personas (alrededor del 80%) se recuperan de la enfermedad sin necesidad de tratamiento hospitalario. Alrededor de 1 de cada 5 personas que contraen la COVID‑19 acaba presentando un cuadro grave y experimenta dificultades para respirar. Las personas mayores y las que padecen afecciones médicas previas como hipertensión arterial, problemas cardiacos o pulmonares, diabetes o cáncer tienen más probabilidades de presentar cuadros graves. Sin embargo, cualquier persona puede contraer la COVID‑19 y caer gravemente enferma. Las personas de cualquier edad que tengan fiebre o tos y además respiren con dificultad, sientan dolor u opresión en el pecho o tengan dificultades para hablar o moverse deben solicitar atención médica inmediatamente. Si es posible, se recomienda llamar primero al profesional sanitario o centro médico para que estos remitan al paciente al establecimiento sanitario adecuado.</p>

          <h2></h2>
        <h2>¿Qué debo hacer si tengo síntomas de COVID-19 y cuándo he de buscar atención médica?</h2>
          <p>Si tiene síntomas leves, como tos o fiebre leves, generalmente no es necesario que busque atención médica. Quédese en casa, aíslese y vigile sus síntomas. Siga las orientaciones nacionales sobre el autoaislamiento. Sin embargo, si vive en una zona con paludismo (malaria) o dengue, es importante que no ignore la fiebre. Busque ayuda médica. Cuando acuda al centro de salud lleve mascarilla si es posible, manténgase al menos a un metro de distancia de las demás personas y no toque las superficies con las manos. En caso de que el enfermo sea un niño, ayúdelo a seguir este consejo.

            Busque inmediatamente atención médica si tiene dificultad para respirar o siente dolor o presión en el pecho. Si es posible, llame a su dispensador de atención de la salud con antelación para que pueda dirigirlo hacia el centro de salud adecuado.</p>

          <h2></h2>
        <h2>¿Cómo se propaga la COVID‑19?</h2>
          <p>Una persona puede contraer la COVID‑19 por contacto con otra que esté infectada por el virus. La enfermedad se propaga principalmente de persona a persona a través de las gotículas que salen despedidas de la nariz o la boca de una persona infectada al toser, estornudar o hablar. Estas gotículas son relativamente pesadas, no llegan muy lejos y caen rápidamente al suelo. Una persona puede contraer la COVID‑19 si inhala las gotículas procedentes de una persona infectada por el virus. Por eso es importante mantenerse al menos a un metro de distancia de los demás. Estas gotículas pueden caer sobre los objetos y superficies que rodean a la persona, como mesas, pomos y barandillas, de modo que otras personas pueden infectarse si tocan esos objetos o superficies y luego se tocan los ojos, la nariz o la boca. Por ello es importante lavarse las manos frecuentemente con agua y jabón o con un desinfectante a base de alcohol. 

            La OMS está estudiando las investigaciones en curso sobre las formas de propagación de la COVID‑19 y seguirá informando sobre las conclusiones que se vayan obteniendo.</p>

          <h2></h2>
        <h2>¿Es posible contagiarse de COVID‑19 por contacto con una persona que no presente ningún síntoma?</h2>
          <p>La principal forma de propagación de la COVID‑19 es a través de las gotículas respiratorias expelidas por alguien que tose o que tiene otros síntomas como fiebre o cansancio. Muchas personas con COVID‑19 presentan solo síntomas leves. Esto es particularmente cierto en las primeras etapas de la enfermedad. Es posible contagiarse de alguien que solamente tenga una tos leve y no se sienta enfermo. 

            Según algunas informaciones, las personas sin síntomas pueden transmitir el virus. Aún no se sabe con qué frecuencia ocurre. La OMS está estudiando las investigaciones en curso sobre esta cuestión y seguirá informando sobre las conclusiones que se vayan obteniendo.</p>

          <h2></h2>
        <h2>¿Cómo podemos protegernos a nosotros mismos y a los demás si no sabemos quién está infectado?</h2>
          <p>Practicar la higiene respiratoria y de las manos es importante en TODO momento y la mejor forma de protegerse a sí mismo y a los demás. 

            Cuando sea posible, mantenga al menos un metro de distancia entre usted y los demás. Esto es especialmente importante si está al lado de alguien que esté tosiendo o estornudando. Dado que es posible que algunas personas infectadas aún no presenten síntomas o que sus síntomas sean leves, conviene que mantenga una distancia física con todas las personas si se encuentra en una zona donde circule el virus de la COVID‑19.</p>

          <h2></h2>
        <h2>¿Qué debo hacer si he estado en contacto estrecho con alguien que tiene COVID‑19?</h2>
          <p>Si ha estado en contacto estrecho con alguien con COVID‑19, puede estar infectado. 

            Contacto estrecho significa vivir con alguien que tiene la enfermedad o haber estado a menos de un metro de distancia de alguien que tiene la enfermedad. En estos casos, es mejor quedarse en casa.
            
            Sin embargo, si usted vive en una zona con paludismo (malaria) o dengue, es importante que no ignore la fiebre. Busque ayuda médica. Cuando acuda al centro de salud lleve mascarilla si es posible, manténgase al menos a un metro de distancia de las demás personas y no toque las superficies con las manos. En caso de que el enfermo sea un niño, ayúdelo a seguir este consejo. 
            
            Si no vive en una zona con paludismo (malaria) o dengue, por favor haga lo siguiente:
            
             -Si enferma, incluso con síntomas muy leves como fiebre y dolores leves, debe aislarse en su casa. 
             -Incluso si no cree haber estado expuesto a la COVID‑19 pero desarrolla estos síntomas, aíslese y controle su estado. 
             -Es más probable que infecte a otros en las primeras etapas de la enfermedad cuando solo tiene síntomas leves, por lo que el aislamiento temprano es muy importante.
             -Si no tiene síntomas pero ha estado expuesto a una persona infectada, póngase en cuarentena durante 14 días.
            Si ha tenido indudablemente COVID‑19 (confirmada mediante una prueba), aíslese durante 14 días incluso después de que los síntomas hayan desaparecido como medida de precaución. Todavía no se sabe exactamente cuánto tiempo las personas siguen siendo contagiosas después de recuperarse. Siga los consejos de las autoridades nacionales sobre el aislamiento.</p>

          <h2></h2>
        <h2>¿Qué debo hacer si no tengo síntomas pero creo que he estado expuesto a la COVID‑19? ¿qué significa ponerse en cuarentena?</h2>
          <p>Ponerse en cuarentena significa separarse de los demás porque ha estado expuesto a alguien con COVID‑19 aunque usted mismo no tenga síntomas. Durante la cuarentena, debe vigilar su estado para detectar síntomas. El objetivo de la cuarentena es prevenir la transmisión. Dado que las personas que enferman de COVID‑19 pueden infectar a otros inmediatamente, la cuarentena puede evitar que se produzcan algunas infecciones.

            En este caso:
            
             -Ocupe una habitación individual amplia y bien ventilada con retrete y lavabo.
             -Si esto no es posible, coloque las camas al menos a un metro de distancia. 
             -Manténgase al menos a un metro de distancia de los demás, incluso de los miembros de su familia.
             -Controle sus síntomas diariamente.
             -Permanezca en cuarentena durante 14 días, incluso si se siente bien.
             -Si tiene dificultades para respirar, póngase en contacto inmediatamente con su dispensador de atención de salud. Llame por teléfono primero si es posible.
             -Permanezca positivo y con energía manteniendo el contacto con sus seres queridos por teléfono o internet y haciendo ejercicio en casa.
            
             Sin embargo, si vive en una zona con paludismo (malaria) o dengue, es importante que no ignore la fiebre. Busque ayuda médica. Cuando acuda al centro de salud use una mascarilla si es posible, manténgase al menos a un metro de distancia de las demás personas y no toque las superficies con las manos. En caso de que el enfermo sea un niño, ayúdelo a seguir este consejo. </p>

          <h2></h2>
          <h2>¿Existe alguna vacuna, medicamento o tratamiento contra la COVID‑19?</h2>
            <p>Aunque algunas soluciones de la medicina occidental o tradicional o remedios caseros pueden resultar reconfortantes y aliviar los síntomas leves de la COVID-19, hasta ahora ningún medicamento ha demostrado prevenir o curar esta enfermedad. La OMS no recomienda automedicarse con ningún fármaco, incluidos los antibióticos, para prevenir o curar la COVID-19. Sin embargo, hay varios ensayos clínicos en marcha, tanto de medicamentos occidentales como tradicionales. La OMS está coordinando la labor de desarrollo de vacunas y medicamentos para prevenir y tratar la COVID-19 y seguirá proporcionando información actualizada a medida que se disponga de los resultados de las investigaciones.

              Las formas más eficaces de protegerse a uno mismo y a los demás frente a la COVID‑19 son: 
              
               -Lavarse las manos a fondo y con frecuencia. 
               -Evitar tocarse los ojos, la boca y la nariz.
               -Cubrirse la boca con el codo flexionado o con un pañuelo. Si se utiliza un pañuelo, hay que desecharlo inmediatamente después de su uso y lavarse las manos.
               -Mantener una distancia de al menos un metro con las demás personas.</p>
          

          <h2 class="section-heading">...</h2>

          <p>...</p>

          <p>...</p>

          <blockquote class="blockquote">...</blockquote>

          <p>...</p>

          <h2 class="section-heading">...</h2>

          <p>...</p>

          

          <span class="caption text-muted">...</span>

          <p>...</p>

          <p>...</p>

          <p>Covid 19
            <a href="http://spaceipsum.com/">Ipm</a>. Producciones
            <a href="https://www.flickr.com/photos/nasacommons/">Tabor picante</a>.</p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2020</p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>