<!DOCTYPE html>
<html lang="en">

<head>

  <title>Clean Blog - Start Bootstrap Theme</title>

</head>

<body>

  <!-- Page Header -->
  <header class="masthead" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Consejos para la población acerca de los rumores sobre el coronavirus
            </h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          
        <h2></h2>
        <h2>DEMOSTRADO: los suplementos de vitaminas y minerales no curan la COVID-19 </h2>
          <p>Los micronutrientes, como las vitaminas D y C o el zinc, son fundamentales para el buen funcionamiento del sistema inmunológico y desempeñan un papel vital para la salud y el bienestar nutricional. En la actualidad, no hay ninguna indicación sobre el uso de suplementos de micronutrientes como tratamiento de la COVID-19. 

            La OMS está coordinando los esfuerzos por desarrollar y evaluar medicamentos que permitan tratar la COVID-19.</p>
        
        <h2></h2>
        <h2>DEMOSTRADO: los estudios llevados a cabo demuestran que la hidroxicloroquina no produce efectos clínicos beneficiosos en el tratamiento de la COVID-19.</h2>
          <p>Se han estudiado los efectos de la hidroxicloroquina o la cloroquina, un tratamiento para el paludismo, el lupus eritematoso y la artritis reumatoide, como posible tratamiento de la COVID-19. Los datos actuales indican que este fármaco no reduce el número de muertes entre los pacientes de COVID-19 hospitalizados, ni es de ayuda para las personas que padecen modalidades moderadas de la enfermedad*.

            El uso de la hidroxicloroquina y la cloroquina está considerado como un tratamiento por lo general seguro para pacientes con paludismo y enfermedades autoinmunes, pero puede generar efectos secundarios graves y debe evitarse cuando no esté indicado y sin supervisión médica.
            
            * Se requieren investigaciones de mayor calado para determinar su valor en pacientes con formas leves de la enfermedad o como profilaxis previa o posterior a la exposición a la COVID-19.</p>

        <h2></h2>
        <h2>¿Hay que ponerse mascarilla para hacer ejercicio físico?</h2>
          <p>NO es conveniente llevar mascarilla para hacer ejercicio físico, porque podría reducir la capacidad de respirar con comodidad. Además, la mascarilla se puede humedecer más rápidamente con el sudor, lo cual puede dificultar la respiración y promover el crecimiento de microorganismos. Lo importante para protegerse durante el ejercicio físico es mantenerse al menos a un metro de distancia de las demás personas.</p>

        <h2></h2>
        <h2>¿Pueden los zapatos propagar el virus de la COVID-19?</h2>
          <p>La probabilidad de que el virus de la COVID-19 se propague con los zapatos e infecte a personas es muy baja. Como medida de precaución, especialmente en hogares donde haya bebés y niños pequeños que gateen o jueguen en el suelo, considere dejar los zapatos a la entrada de su casa. Esto ayudará a prevenir el contacto con la suciedad o cualquier desecho que pueda ser transportado en las suelas de los zapatos.</p>

        <h2></h2>
        <h2>DEMOSTRADO: LA ENFERMEDAD POR CORONAVIRUS (COVID‑19) está causada por un virus, NO por una bacteria.</h2>
          <p>El virus que causa la COVID-19 pertenece a una familia de virus llamados Coronaviridae. Los antibióticos no funcionan contra los virus.

            Algunas personas que enferman de COVID-19 también pueden desarrollar una infección bacteriana como complicación. En este caso, un proveedor de atención sanitaria puede recomendar antibióticos.
            
            Actualmente no existe ningún medicamento autorizado para curar la COVID-19. Si tiene síntomas, llame a su proveedor de atención sanitaria o a la línea directa para la COVID-19 con el fin de obtener ayuda.</p>

        <h2></h2>
        <h2>DEMOSTRADO: El uso prolongado de las mascarillas médicas*, cuando se llevan puestas correctamente, NO PROVOCA intoxicación por CO2 ni hipoxia</h2>
          <p>Utilizar mascarillas médicas durante mucho tiempo puede ser incómodo, pero no provoca intoxicación por CO2 ni hipoxia. Una vez puesta la mascarilla médica, compruebe que está bien colocada y que le permite respirar con normalidad. No reutilice una mascarilla desechable y cámbiela cuando se humedezca.

            * Las mascarillas médicas (también denominadas mascarillas quirúrgicas) son planas o plisadas; se sujetan a la cabeza o las orejas por medio de tiras. </p>

        <h2></h2>
        <h2>DEMOSTRADO: La mayoría de las personas que contraen la COVID-19 se recuperan. </h2>
          <p>La mayoría de las personas que contraen la COVID-19 presentan síntomas leves o moderados y pueden recuperarse con medidas de apoyo. Si tiene tos, fiebre y dificultades para respirar, busque atención médica pronto, pero llame antes por teléfono al centro de salud. Si tiene fiebre y vive en una zona con paludismo o dengue, busque atención médica inmediatamente. </p>

        <h2></h2>
        <h2>DEMOSTRADO: Actualmente no existe ningún medicamento autorizado para tratar o prevenir la COVID-19. </h2>
          <p>Aunque están en marcha varios ensayos de medicamentos, hasta el momento no se ha demostrado que la hidroxicloroquina ni ningún otro fármaco puedan curar o prevenir la COVID-19.

            El uso indebido de la hidroxicloroquina puede provocar graves efectos secundarios y problemas de salud e incluso causar la muerte. 
            
            La OMS está coordinando los esfuerzos para desarrollar y evaluar medicamentos contra la COVID-19.</p>

          <h2 class="section-heading">...</h2>

          <p>...</p>

          <p>...</p>

          <blockquote class="blockquote">...</blockquote>

          <p>...</p>

          <h2 class="section-heading">...</h2>

          <p>...</p>

          

          <span class="caption text-muted">...</span>

          <p>...</p>

          <p>...</p>

          <p>Covid 19
            <a href="http://spaceipsum.com/">Ipm</a>. Producciones
            <a href="https://www.flickr.com/photos/nasacommons/">Tabor picante</a>.</p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2020</p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>