<form [formGroup]="this.ordersService.form">
    <input placeholder="username" 
           formControlName="username" 
           type="text" 
           class="input-field col s12">
    <input placeholder="password" 
           formControlName="password" 
           type="text" 
           class="input-field col s12">

           <button class="waves-effect waves-light btn col s4" 
        *ngFor="let user of users" 
        (click)="addUser(user)">
{{user}}
</button><ul class="collection">
    <li *ngFor="let user of username">
        <span class="col s11"> {{ user }} </span>
        <a class="col s1" (click)="removeUser(user)">x</a>
    </li>
</ul>

<form [formGroup]="this.UsuariosService.form" (ngSubmit)="onSubmit()"> ...
    <button 
         class="waves-effect waves-light btn col s12" 
         (click)="onSubmit()">
    Submit
    </button>
  </form>
</form>